.invisible {
    visibility: hidden;
}

.centre-middle-div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    width: 400px;
    line-height: 40px;
    margin-bottom: 0px;
}
  
input {
    height: 20px;
    flex: 0 0 200px;
    margin-bottom: 10px;
}
