.outer-div {
    padding: 32px;
}

.left-hand-div {
    width: 60%;
    float: left;
    border-radius: 16px;
    margin: 16px;
    padding: 16px;
}

.right-hand-div {
    width: 30%;
    height: 600px;
    float: right;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin: 30px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-color: #293541;
    color: white;
    text-align: center;
    padding: 20px;
    flex-direction: column;
}

.card-content{
    background: #293541;
    color: white;
}

.card-header {
    background: #293541;
    color: white;
}

button {
    background-color: #668099;
    border-radius: 8px;
    border-width: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 12px;
    text-align: center;
    cursor: pointer;
    margin: 8px;
    color: white;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 8px;
}
  
.image-div {
    text-align: center;
}

.one-button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}