.outer-div {
    padding: 32px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
}

.center-div {
    width: 50%;
    border-radius: 16px;
    margin: 16px;
    padding: 16px;
}

.left-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: left;
    width: 15%;
}

.right-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    width: 15%;
    margin: 16px;
}

button {
    background-color: #668099;
    border-radius: 8px;
    border-width: 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 10px 12px;
    text-align: center;
    cursor: pointer;
    margin: 8px;
    color: white;
}

.button-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 8px;
}
  
.image-div {
    text-align: center;
}

.one-button-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}