/* temporary colouring until the styling is complete*/

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: black;
}

.footer-container {
    background-color: black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.footer-info {
    background-color: black;
    width: 30%;
    margin: 12px;
    color: white;
}
