* {
  background-color: white;
  font-family: sans-serif;
}

.error-page {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  background-color: #668099;
  border-radius: 8px;
  border-width: 0;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px 12px;
  text-align: center;
  cursor: pointer;
  margin: 8px;
  color: white;
}