.parent-container {
    display: flex;
    align-items: flex-start; /* Ensure children align at the top */
    justify-content: flex-start; /* Align children to the left */
}

.image-container, .logo-image-container {
    display: flex;
    justify-content: center; /* Center content horizontally within each container */
    align-items: center; /* Center content vertically within each container */
    margin: 16px;
}

.button-container button {
    font-size: 30px;
    padding: 20px 40px;
    margin: 40px auto;
    display: flex;
    position: relative; /* Center the button */
    width: 400px;
    height: 60px;
    justify-content: center;
}

.logo-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Align items to the left within the container */
    align-items: center; /* Align items to the top within the container */
    margin-top: 20px;
    margin-left: 20px;
    
}

.dash-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text {
    text-align: center;
}